* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background-color: #F18039 !important;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100dvh - 100px);

  #menu {
    min-width: 400px;
    height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    border-right: 1px solid #F18039;
    align-items: center;
    padding: 1rem;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      align-items: center;

      a {
        text-decoration: none;
        width: 100%;
        text-decoration: none;
        color: #333;
        font-weight: 600;

        &:hover {
          a {
            color: #f9f9f9;
          }
        }
      }

      li {
        width: 100%;
        text-align: center;
        padding: 1rem 2rem;
        border-radius: 2rem;
        border: 1px solid #F18039;
        cursor: pointer;

        &:hover {
          background-color: #f18039bd;
        }
      }
    }
  }

  .btn {
    background-color: #F18039;
    color: #f9f9f9;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid #F18039;
    cursor: pointer;
    font-weight: 500;
  }

  .btn:hover {
    background-color: #f18039bd;
    color: #fff;
    font-weight: 600;

  }

  .content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100dvh - 100px);
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
  }

  #menu {
    width: 100%;
    min-width: unset;
    height: auto;
  }

  .content {
    width: 100%;
    height: auto;
  }
}